.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css 파일 맨 아래에 추가 */

.category-filters {
  margin-bottom: 20px;
}

.category-filters button {
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.category-filters button:hover {
  background-color: #21a1f1;
}

.category-filters button.active {
  background-color: #0d8aee;
  color: white;
  font-weight: bold;
}

.pick-button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
}